<div class="input-search" :class="{ 'open': isOpen }" @keydown.escape="cancel">
	<button type="button" class="search-open icon-button" @click="toggle" :tabindex="alwaysOpen ? -1 : 0" v-l10n-title.Common.Search>
		<i class="dashicons dashicons-search"></i>
		<span class="screen-reader-text" v-l10n.Common.Search></span>
	</button>

	<div class="input-searchbar">
		<input
			class="search-option"
			ref="search"
			type="text"
			:value="value"
			@input="input"
			@submit="input"
			@keydown.escape="cancel" />
	</div>
</div>