/* Feedback */

#feedback-global {
	position: fixed;
	left: 50%;
	bottom: -125px;
	width: max-content;
	max-width: calc( 100% - 50px );
	transform: translate(-50%, -25px);
	transition: all .5s ease;
	z-index: 100;

	&.is-active {
		bottom: 0px;
	}
}

.feedback {
	display: none;
	flex-direction: column;
	grid-gap: 5px;

	&.is-active {
		display: flex;
	}

	.feedback-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		grid-gap: 1px;

		.item {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			color: var(--feedback-color);
			background: var(--feedback-background);
			font-size: .8rem;
			border-radius: 2px;
			transition: all .5s ease;

			&.dashicons-before:before {
				align-self: center;
				transform: translateX(7px);
			}

			.feedback-message {
				padding: 10px 15px;
				margin-right: auto;
			}

			.feedback-action {
				padding: 10px 15px;
				color: var(--feedback-color);
				background: none;
				border-left: 1px solid var(--feedback-border-color);
				border-radius: 0px;
				font-size: .8rem;
				white-space: inherit;

				&:last-child {
					border-top-right-radius: 2px;
					border-bottom-right-radius: 2px;
				}

				&.feedback-close {
					padding: 0px 4px;
					margin: 0px;
				}

				&:focus,
				&:hover,
				&:active {
					color: var(--text-default);
					background: var(--feedback-border-color);
				}
			}
		}

		.feedback-list-enter-from,
		.feedback-list-leave-to {
			opacity: 0;
			transform: translateY(125px);
		}

		.feedback-list-leave-active {
			position: absolute;
			width: 100%;
		}
	}
}

@media screen and (max-width: 400px) {
	#feedback-global {
		width: 100%;
		max-width: 100%;
		transform: translate(-50%, 0px);

		.feedback-list .item {
			border-radius: 0px;

			.feedback-action:last-child {
				border-radius: 0px;
			}
		}
	}
}