/* Orders */

#orders {
	.item-list-wrapper {
		height: 100%; // Not having to use flex - preferred for implemented media queries toggling display-none
	}

	.select-item {
		display: flex;
		flex-direction: row;
		grid-gap: 15px;
		animation: active-background-fade 2s ease;

		.item-title {
			flex: 1;
			@include text-overflow;
		}

		.item-amount {
			margin-left: 4px;
			font-size: .8rem;
		}
	}

	.is-selected {
		.select-item,
		.select-item:focus,
		.select-item:hover {
			color: var(--color-primary-contrast);
			background: var(--color-primary);
		}
	}
}
