/* Sections */

#sections {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	grid-gap: var(--sections-grid-gap);

	// Panel variables
	--order-panel-width: 300px;
	--consumers-width: 250px;
	--sections-grid-gap: 15px;

	.set-active-section {
		display: none;
	}

	#consumers {
		order: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: max(var(--consumers-width), 20%);
	}

	#products {
		order: 2;
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 1;
	}

	#order-panel {
		order: 3;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: max(var(--order-panel-width), 20%);

		#occasion {
			order: 1;
			overflow: hidden;
		}

		#orders {
			order: 2;
			flex: 1;
			overflow-y: hidden; // For showing receipt
		}

		#receipt {
			order: 3;
		}
	}

	#receipt:has(.is-active) {
		margin-top: var(--sections-grid-gap); // Instead of grid-gap because the gap remains when the receipt is off screen
	}
}

// Double & single column
@media screen and (max-width: 850px) {
	#sections {
		#consumers.is-not-active,
		#products.is-not-active,
		#order-panel.is-not-active {
			position: absolute;
			top: 0px;
			width: calc( 100% / 3 );
			height: 46px;
			z-index: 10;

			.item-list-header {
				display: flex;
				flex-direction: row;
				padding: 0px;
			}

			// #order-panel has no own .item-list-header
			.set-active-section {
				display: block;
				flex: 1;
				padding: 15px;
				border-radius: 0px;
				@include text-overflow;

				// Mimic .section-topic font style
				font-size: .75rem;
				font-weight: 200;
				text-transform: uppercase;
			}

			.set-active-section ~ *,
			.item-list-body {
				display: none;
			}
		}

		#consumers.is-active,
		#products.is-active,
		#order-panel.is-active {
			.set-active-section {
				display: none;
			}

			.section-topic {
				position: absolute;
				top: 0px;
				width: calc( 100% / 3 );
				padding: 15px;
				text-align: center;
				@include text-overflow;
			}
		}

		#consumers.is-active,
		#products.is-active {
			.consumers,
			.products {
				.item-list-header {
					position: relative;
					// .set-active-section + padding
					// 46 + 15
					padding-top: 61px;
				}
			}
		}

		#order-panel.is-active {
			flex: 1;
			padding-top: 46px;
			width: auto;

			.section-topic {
				right: 0px;
			}

			#orders .item-list-header {
				padding: 0px;
			}

			#receipt {
				.item-list .select-products {
					display: block;
				}
			}
		}

		#order-panel.is-not-active {
			right: 0px;
		}

		#receipt {
			position: relative;
			order: 99;
			z-index: 100;

			.receipt.is-active {
				max-height: 70px;

				.item-list-header-image {
					cursor: pointer;
				}

				&.is-collapsed {
					.receipt-total {
						top: -20px;
					}

					.item-list-header {
						.topic {
							display: none;
						}

						.item-title {
							@include text-overflow;
						}

						.item-subtitle {
							visibility: hidden;
						}

						// Disable all below the list header
						& ~ * {
							display: none;
						}
					}
				}

				&.is-expanded {
					max-height: min( 480px, calc( 100vh - 235px ) );
				}
			}

			.receipt-total {
				left: -28px;
			}
		}
	}
}

// Double column
@media screen and (min-width: 580px) and (max-width: 850px) {
	#sections {
		#products.is-not-active,
		#order-panel.is-not-active {
			position: absolute;
			top: 0px;
			width: calc( (100% - var(--consumers-width) - var(--sections-grid-gap)) / 2 );
			height: 46px;
			z-index: 10;

			.item-list-header {
				display: flex;
				flex-direction: row;
				padding: 0px;
			}

			// #order-panel has no own .item-list-header
			.set-active-section {
				display: block;
				flex: 1;
				padding: 15px;
				border-radius: 0px;
				@include text-overflow;

				// Mimic .section-topic font style
				font-size: .75rem;
				font-weight: 200;
				text-transform: uppercase;
			}

			.set-active-section ~ *,
			.item-list-body {
				display: none;
			}
		}

		#products.is-not-active {
			left: calc( var(--consumers-width) + var(--sections-grid-gap) );
		}

		#products.is-active,
		#order-panel.is-active {
			flex: 1;
		}

		#consumers.is-active {
			.section-topic {
				width: 100%;
			}
		}

		#products.is-active {
			.section-topic {
				width: 50%;
				left: 0px;
			}
		}

		#order-panel.is-active {
			.section-topic {
				width: calc( (100% - var(--consumers-width) - var(--sections-grid-gap)) / 2 );
			}
		}
	}
}

// Single column
@media screen and (max-width: 580px) {
	#sections {
		flex-direction: column;
		grid-gap: 0px;

		#consumers.is-not-active {
			left: 0px;
		}

		#products.is-not-active {
			left: 50%;
			transform: translateX(-50%);
		}

		#consumers.is-active ~ #receipt,
		#order-panel.is-active ~ #receipt {
			.item-list .select-products {
				display: block;
			}
		}

		#consumers.is-active {
			flex: 1;
			width: auto;

			.section-topic {
				left: 0px;
			}
		}

		#products.is-active {
			.section-topic {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		#order-panel.is-active {
			overflow: hidden;
		}

		#receipt {
			width: calc( 100% - 30px );
			transform: translateX(15px);
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}
}