/* Variables */

//
// ### Fonts
//

$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

//
// ### Text colors
//

$text-color: #444;
$text-color-dark: #c9d1d9;

/**
 * Return a color's contrast color for text as light or dark
 *
 * @param  {Color} $input Test color
 * @param  {Color} $light Optional. Color in case of light contrast. Defaults to $text-color-dark.
 * @param  {Color} $dark Optional. Color in case of dark contrast. Defaults to $text-color.
 * @return {Color} Light or dark
 */
@function text-contrast( $input, $light: $text-color-dark, $dark: $text-color ) {
	$color-brightness: round( calc( (red($input) * 299) + (green($input) * 587) + (blue($input) * 114) / 1000 ) );
	$light-color: round( calc( (red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000 ) );

	@if abs( $color-brightness ) < calc( $light-color / 2 ) {
		@return $light;
	}

	@else {
		@return $dark;
	}
}

//
// ### Light mode
//

$color-primary:                 #eac078;
$color-secondary:               #bf70db;
$color-primary-contrast:        text-contrast($color-primary);
$color-secondary-contrast:      text-contrast($color-secondary);

$body-background:               #f1f1f1; // #c9d1d9;
$body-background-overlay:       rgba($body-background, 0.65);

$panel-background:              darken($body-background, 5%);
$panel-background-alt:          darken($body-background, 10%);

$border-color:                  rgba($text-color, 0.05);

$button-background:             lighten($panel-background, 50%);
$button-color:                  text-contrast($button-background);
$button-hover:                  lighten(desaturate($color-primary, 55%), 10%);
$button-hover-contrast:         text-contrast($button-hover);
$button-color-disabled:         lighten($button-color, 30%);
$button-disabled:               rgba($button-background, .3);

//
// ### Dark mode
//

$color-primary-dark:            darken($color-primary, 40%);
$color-secondary-dark:          darken($color-secondary, 40%);
$color-primary-contrast-dark:   text-contrast($color-primary-dark);
$color-secondary-contrast-dark: text-contrast($color-secondary-dark);

$body-background-dark:          #0d1117;
$body-background-overlay-dark:  rgba($body-background-dark, 0.65);

$panel-background-dark:         #1f2125; // #363a41;
$panel-background-alt-dark:     lighten($panel-background-dark, 10%);

$border-color-dark:             rgba($text-color-dark, 0.09);

$button-background-dark:        lighten($panel-background-dark, 50%);
$button-color-dark:             text-contrast($button-background-dark);
$button-hover-dark:             lighten(desaturate($color-primary-dark, 55%), 10%);
$button-hover-contrast-dark:    text-contrast($button-hover-dark);
$button-color-disabled-dark:    darken($button-color-dark, 30%);
$button-disabled-dark:          rgba($button-background-dark, .3);

//
// ### Mixins
//

/**
 * Focus outline styles, relevant for Shadow DOM applications
 */
@mixin focus-outline() {
	outline: 2px solid #000;
	box-shadow: 0px 0px 0px 2.5px #fff; 
}

/**
 * Text overflow styles
 */
@mixin text-overflow() {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/**
 * Custom scrollbar styles
 */
@mixin scrollbar() {
	// Transition color for scrollbar
	color: transparent;
	transition:
		var(--transition-background),
		var(--transition-scrollbar)
	;

	&:hover {
		color: var(--scrollbar-color);
	}

	&::-webkit-scrollbar {
		width: 10px; // From default 15.6 in Chrome
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		// Box shadow inherits color from the element
		box-shadow: inset 0px 0px 0px 20px;
	}
}

//
// ### Transitions
//

$transition-quick:         .6s cubic-bezier(0, 0.8, 0, 1);
// $transition-quick-reverse: .6s cubic-bezier(0.2, 0.3, 0.5, 0.5);
$transition-quick-reverse: .6s cubic-bezier(1, 0, 1, 0.2);
$transition-swift:         .15s ease;

//
// ### Animations
//

@keyframes jump-scale {
	0%, 100% { transform: scale(1);    }
	30%      { transform: scale(1.13); }
	60%      { transform: scale(1.20); }
	80%      { transform: scale(1.12); }
}

@keyframes active-background-fade {
	0%   { background: var(--color-primary); }
	100% { background: transparent;          }
}

@keyframes pin-jump {
	0%  { transform: translateY(-2px); }
	30% { transform: translateY(10px); }
	60% { transform: translateY(0px);  }
}
