<div class="consumers item-list-wrapper" :class="{
	'is-loading': isLoading,
	'is-settings': isSettings,
	'is-searching': isSearching,
	'no-results': noSearchResults
}">
	<div class="item-list-header">
		<button type="button" @click="setActiveSection" class="set-active-section" v-l10n.Consumer.ListHeading></button>

		<h2 class="section-topic" v-l10n.Consumer.ListHeading></h2>

		<div class="item-list-actions">
			<input-search ref="search" v-model="q" always-open="true"></input-search>

			<button
				@click="expandAllGroups"
				class="expanded-groups-toggle icon-button"
				v-l10n-title="allGroupsExpanded ? 'Consumer.CollapseGroups' : 'Consumer.ExpandGroups'">
				<i class="dashicons" :class="{ 'dashicons-excerpt-view': ! allGroupsExpanded, 'dashicons-list-view': allGroupsExpanded }"></i>
				<span class="screen-reader-text" v-l10n="allGroupsExpanded ? 'Consumer.CollapseGroups' : 'Consumer.ExpandGroups'"></span>
			</button>
			<input-dropdown class="order-by-dropdown" v-model="orderBy" :options="orderByOptions" :title="'Consumer.OrderBy'"></input-dropdown>
			<button
				v-if="$isSettings"
				@click="reload"
				class="list-reload icon-button"
				v-l10n-title.Consumer.ReloadList>
				<i class="dashicons dashicons-update"></i>
				<span class="screen-reader-text" v-l10n.Consumer.ReloadList></span>
			</button>
		</div>
	</div>

	<div class="item-list-body">
		<ul class="item-list parent-item-list">
			<li class="item" v-for="g in groups" :key="g.id" :class="g.className">
				<span
					v-if="allGroupsExpanded"
					class="select-item"
					v-l10n="g.name"></span>
				<button
					type="button"
					v-else
					class="select-item"
					@click="expandOneGroup(g.id)"
					v-l10n-title="expandGroupLabel(g.id)"
					v-l10n="g.name"></button>

				<div class="item-sublist" v-if="showGroupSubList(g.id)">
					<ul class="item-list">
						<li
							class="item"
							v-for="c in groupConsumers(g.id)"
							:key="c.id"
							v-if="isSettings || isSelected(c.id) || c.show"
							:class="{
								'consumer-hidden': ! c.show,
								'consumer-shown': c.show,
								'is-selected': ! isSettings && isSelected(c.id)
							}">
							<button type="button" class="select-item" @click="select(c.id)" v-l10n-title.Consumer.Select="c.name">
								<object class="avatar-image" :data="consumerAvatarUrl(c)" type="image/png" v-l10n-alt.Consumer.AvatarOf="c.name"></object>
								<span class="item-name" v-l10n="c.name"></span>
							</button>
							<input-toggle class="toggle-show-item" v-if="isSettings" :value="c.show" @input="toggleShowConsumer(c)" v-l10n-title="c.show ? 'Common.Hide' : 'Common.Show'"></input-toggle>
						</li>
					</ul>
				</div>
			</li>

			<li v-if="noSearchResults" class="item no-items">
				<span class="no-items-found" v-l10n.Generic.NoSearchResultsFor="q"></span>
			</li>
		</ul>
	</div>
</div>