<basic-dialog
	:dialog="dialog"
	class="dialog-input-dropdown open"
	@hook:beforeDestroy="close"
>
	<template v-slot:content>
		<div class="detail-list input-dropdown-options">
			<button
				type="button"
				v-for="item in dialog.items"
				@click="select(item.id)"
				class="dropdown-option"
				:class="{ 'is-selected': isSelected(item.id) }"
				v-l10n-title="item.label">
				<span class="item-label" v-l10n="item.label"></span>
				<i v-if="item.icon" class="item-icon dashicons" :class="'dashicons-' + item.icon" v-l10n-title="item.iconTitle"></i>
			</button>
		</div>
	</template>

	<template v-slot:footer="slot">
		<div class="dialog-buttons">
			<button type="button" @click="slot.close" v-l10n.Common.Cancel></button>
			<button type="button" @click="confirm" v-l10n.Common.OK></button>
		</div>
	</template>
</basic-dialog>