<div id="login-container" :class="loginStateClass" :data-fsm-state="fsmState">
	<div class="panel-header">
		<h2 v-if="!isEmbedded" class="panel-title" v-l10n="step.title"></h2>
		<close-button v-if="canCancel && !isEmbedded" @click="cancel" class="panel-close" v-focus></close-button>
	</div>

	<div class="panel-content">
		<span v-if="!isEmbedded && step.description" v-l10n="step.description"></span>

		<component
			:is="step.component"
			:step="step"
			:disabled="isDisabled"
		/>
	</div>

	<div class="panel-footer" v-if-not-empty>
		<button type="button" v-if="canPrev && showControls" @click="prev" v-l10n="step.prevLabel"></button>
		<button type="button" v-if="canNext && showControls" @click="next" v-l10n="step.nextLabel"></button>
	</div>
</div>