<div class="receipt item-list-wrapper" :class="{ 'is-active': isActive, 'is-expanded': isExpanded, 'is-collapsed': ! isExpanded, 'is-editing': isEditing }" :inert="!isActive">
	<close-button @click="close" class="receipt-close"></close-button>

	<div v-toggle="isExpanded" class="receipt-total" :class="{ 'is-active': !! totalPrice }">
		<span class="total-value">{{totalPrice | money}}</span>
	</div>

	<div v-toggle="isExpanded" class="item-list-header">
		<div class="item-list-header-image" @click="setActiveConsumersSection">
			<object class="avatar-image" :data="consumer.avatarUrl" type="image/png" v-l10n-alt.Consumer.AvatarOf="consumer.name"></object>
		</div>

		<h2 class="topic" v-if="!order" v-l10n.Receipt.ListHeading></h2>
		<span class="topic" v-else>{{order.date | datetime}}</span>

		<div class="item-title-wrapper">
			<span class="item-title" v-l10n="consumer.name"></span>
			<span class="item-subtitle" v-l10n="consumer.group.name"></span>
		</div>
	</div>

	<div class="item-list-body">
		<ul class="item-list">
			<li class="item" v-for="r in receipt" :key="r.id">
				<div class="select-item">
					<span class="item-title" v-l10n="r.title"></span>

					<div class="item-ordered">
						<span class="item-amount">{{r.quantity}}</span>
						<i class="dashicons dashicons-no-alt"></i>
						<span class="item-price">{{r.price | money}}</span>
					</div>
				</div>

				<div class="item-actions" v-if="isEditing">
					<button
						type="button"
						@click.exact="decrement(r.id)"
						@click.shift.exact="decrementByTen(r.id)"
						class="item-action item-decrement"
						v-l10n-title.Product.SelectLess="r.title">
						<i class="dashicons dashicons-minus"></i>
						<span class="screen-reader-text" v-l10n.Product.SelectLess="r.title"></span>
					</button>
					<button
						type="button"
						@click.exact="increment(r.id)"
						@click.shift.exact="incrementByTen(r.id)"
						class="item-action item-increment"
						v-l10n-title.Product.SelectMore="r.title">
						<i class="dashicons dashicons-plus"></i>
						<span class="screen-reader-text" v-l10n.Product.SelectMore="r.title"></span>
					</button>
				</div>
			</li>

			<li v-if="!receipt.length" class="item no-items">
				<span class="no-items-found" v-l10n.Receipt.NoItems></span>
			</li>
		</ul>
	</div>

	<feedback name="receipt" :items="feedback"></feedback>

	<div class="item-list-footer">
		<button type="button" v-if="isSettings" @click="toggleSettings" class="continue-action" v-l10n.Common.Continue></button>
		<button type="button" v-if="isViewing && editable" @click="edit" class="edit-action" v-l10n.Common.Edit></button>
		<button type="button" v-if="isEditing" @click="cancel" class="cancel-action" v-l10n.Common.Cancel></button>
		<button type="button" v-if="isEditing && receipt.length" @click="clear" class="clear-action" v-l10n.Common.Clear></button>
		<button type="button" v-if="isEditing && submittable" @click="submit" class="submit-action" v-l10n="labelSubmit"></button>
	</div>
</div>