<!doctype html>
<html ng-app="incassoos" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Incassoos 2.0</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script type="text/javascript" src="http://wp.dev/wp-includes/js/jquery/jquery.js"><\/script>')</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script>window._ || document.write('<script type="text/javascript" src="http://wp.dev/wp-includes/js/underscore.min.js"><\/script>')</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
	<script>window.angular || document.write('<script type="text/javascript" src="../../assets/js/angular.min.js"><\/script>')</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	<script>window.jQuery.ui || document.write('<script type="text/javascript" src="http://wp.dev/wp-includes/js/jquery/ui/core.js"><\/script><script type="text/javascript" src="http://wp.dev/wp-includes/js/jquery/ui/datepicker.js"><\/script>')</script>

	<script type="text/javascript" src="../../assets/js/fold-accents.js"></script>
	<script type="text/javascript" src="../../assets/js/ng-online-status.js"></script>
	<script type="text/javascript" src="../../assets/js/web-app.js"></script>

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/css/datepicker.css" />
	<link rel="stylesheet" href="../../assets/css/web-app.css" />
</head>
<body ng-controller="AppController" class="loading" ng-keyup="keyboardInput($event)">

	<header id="app-header">
		<nav class="navbar navbar-default">
			<div id="app-header-left" ng-class="{
				'active':   viewingAbout,
				'disabled': disableAbout()
			}" ng-click="toggleAbout()">
				<span id="about-toggle">
					<img src="https://www.gravatar.com/avatar/?d=mm&f=y" />
				</span>
			</div>
			<div id="app-header-center">
				<h1>Incassoos</h1>
			</div>
			<div id="app-header-right" ng-class="{
				'active':   inSettingsMode(),
				'disabled': disableSettings()
			}" ng-click="toggleSettingsMode()">
				<span id="settings-link" class="glyphicon glyphicon-cog"></span>
			</div>
		</nav>
	</header>

	<div id="app-body" ng-class="{
		'viewing-about':       viewingAbout,
		'viewing-occasion':    viewingOccasionSelector,
		'open-consumer-panel': shouldShowConsumers(),
		'open-receipt':        viewingReceipt(),
		'open-orders':   viewingOrders(),
		'viewing-order': shouldShowOrder(),
		'open-settings':       inSettingsMode(),
		'viewing-product':     inSettingsMode() && viewingProduct(),
		'viewing-consumer':    viewingConsumer()
	}">

		<div id="about" ng-click="toggleAbout($event)">
			<ol class="list-group list-group-nested rounded">
				<header class="list-group-item">
					<h4 class="list-title">About</h4>
				</header>
				<li id="about-version" class="list-group-item">
					<span class="thing">Version</span>
					<span class="value">Incassoos 1.0.0</span>
				</li>
				<li id="admin-link" class="list-group-item">
					<span class="thing">Administration</span>
					<span class="value">
						<a href="#">Go to Dashboard</a>
					</span>
				</li>
				<li id="logged-in" class="list-group-item">
					<span class="thing">Logged-in as</span>
					<span class="value">Laurens Offereins</span>
				</li>
				<footer class="list-group-item action">
					<a href="#"><i class="glyphicon glyphicon-log-out"></i></a>
				</footer>
			</ol>
		</div><!-- #about -->

		<form id="occasion-selector" ng-submit="submitOccasion()">
			<ol class="list-group list-group-nested rounded">
				<header class="list-group-item">
					<h4 class="list-title">Set the Occasion</h4>
				</header>
				<li class="list-group-item tabs">
					<label for="new-occasion-type" state-trigger="occasion:create" class="current" tabindex="0">Create New</label>
					<label for="select-occasion" ng-if="occasions" state-trigger="occasion:select" tabindex="0">Existing</label>
				</li>
				<li class="list-group-item state-active" state-target="occasion:create">
					<select id="new-occasion-type" ng-if="occasionTypes" ng-model="occasion.type">
						<option value="0">&mdash; Select Type &mdash;</option>
						<option ng-repeat="type in occasionTypes" value="{{type.id}}">{{type.name}}</option>
					</select>
					<input id="new-occasion-title" type="text" ng-if="! occasionTypes" ng-model="occasion.title" />
					on
					<button type="button" id="new-occasion-date" ng-bind="occasion.date"></button>
				</li>
				<li class="list-group-item state-active closed" id="new-occasion-datepicker" state-target="occasion:create"></li>
				<li class="list-group-item state-inactive" ng-if="occasions" state-target="occasion:select">
					<label>
						<select id="select-occasion" ng-model="occasion.id">
							<option value="0">&mdash; Select an Occasion &mdash;</option>
							<option ng-repeat="occasion in occasions" value="{{occasion.id}}">{{occasion.name}}</option>
						</select>
					</label>
				</li>
				<footer class="list-group-item action">
					<button type="submit" ng-disabled="occasionDisabled()"><i class="glyphicon glyphicon-ok"></i></button>
				</footer>
			</ol>
		</form><!-- #occasion-selector -->

		<!-- Input Form -->

		<div id="app-input-form">
			<header id="receipt-consumer" ng-click="togglePanel()">
				<div class="header-avatar">
					<img ng-src="{{inSettingsMode() ? 'https://www.gravatar.com/avatar/?d=mm&f=y' : consumer.avatar}}">
				</div>
				<div id="receipt-consumer-name">
					<span class="consumer-name">{{consumer.name}}</span>
					<span ng-hide="isConsumerGroupless()" class="consumer-group">{{consumer.group.name}}</span>
				</div>
			</header><!-- #receipt-consumer -->

			<div id="receipt-form">
				<div id="list-products" ng-click="isLargeScreen() || ( viewingReceipt() && toggleReceipt() )">
					<ol id="select-products" class="list-group">
						<header class="list-group-item" ng-click="inSettingsMode() && isLargeScreen() && setupNewProduct()">
							<h4 class="list-title">
								{{inSettingsMode() ? 'Manage Products' : 'Product Selection'}}
								<span class="badge" ng-show="getReceiptAmount()">{{getReceiptAmount()}}</span>
							</h4>
						</header>
						<inc-product-list-items
							products="products"
							selector="addProductToReceipt(a)"
							action-secondary="subtractProductFromReceipt(a)"
							icon-secondary="{{inSettingsMode() ? 'trash' : 'minus'}}"
							counter="getProductSelected(a)">
						</inc-product-list-items>
					</ol>
				</div><!-- #list-products -->

				<div id="list-consumers">
					<ol id="select-consumers" class="list-group loading ng-class:{'searching': searchingConsumers()};">
						<header class="list-group-item">
							<h4 class="list-title">
								{{inSettingsMode() ? 'Manage Consumers' : 'Consumer Selection'}}
							</h4>

							<input id="consumer-search" type="search" ng-model="consumerSearch">
							<label for="consumer-search" ng-click="toggleConsumerSearch($event)"></label>
						</header>
						<inc-consumer-list-items
							groups="groups"
							consumers="consumers"
							filter="showConsumer(a)"
							selector="selectConsumer(a)"
							selected="isConsumerSelected(a)"
							presser="toggleCurrentConsumer(a)"
							searcher="consumerSearch">
						</inc-consumer-list-items>
					</ol>
				</div><!-- #list-consumers -->
			</div><!-- #receipt-form -->

			<div id="receipt-products">
				<div id="receipt-button" ng-class="{'active': !isReceiptEmpty()}" ng-click="toggleReceipt()">
					<span>{{getReceiptPrice() | currency: "&euro;"}}</span>
				</div>

				<div id="receipt-overview">
					<ol id="products-selected" class="list-group rounded">
						<header class="list-group-item">
							<h4 class="list-title">
								Receipt
								<span class="badge" ng-show="getReceiptAmount()">{{getReceiptAmount()}}</span>
							</h4>
						</header>
						<div class="list-group-wrapper">
							<li class="list-group-item" ng-repeat="product in receipt">
								<span class="product-name">{{product.name}}</span>
								<span class="product-amount badge">{{product.amount}}</span>
							</li>
						</div>
					</ol>
				</div>
			</div><!-- #receipt-summary -->

			<div id="product-details" ng-click="toggleCurrentProduct($event)">
				<ol class="list-group list-group-nested rounded">
					<header class="list-group-item">
						<h4 class="list-title">
							{{editingProduct() ? 'Edit product: ' + currentProduct.name : 'Add new Product'}}
						</h4>
					</header>
					<div class="list-group-wrapper">
						<li class="list-group-item"><label><span>Name</span> <input id="product-detail-name" select-on-focus type="text" ng-model="currentProduct._edit.name"/></label></li>
						<li class="list-group-item"><label><span>Price</span> <input id="product-detail-price" string-to-price type="number" step="0.01" min="0.00" ng-model="currentProduct._edit.price"/></label></li>
					</div>
					<footer class="list-group-item action">
						<button type="button" class="alert-danger" ng-click="doActionSecondary()"><i class="glyphicon glyphicon-remove"></i></button>
						<button type="button" class="alert-success" ng-click="doActionPrimary()"><i class="glyphicon glyphicon-ok"></i></button>
					</footer>
				</ol>
			</div><!-- #product-details -->

			<div id="consumer-details" class="orders" ng-click="toggleCurrentConsumer($event)">
				<ol class="list-group list-group-nested rounded">
					<div class="header-avatar">
						<img ng-src="{{currentConsumer.avatar ? currentConsumer.avatar : ''}}" />
					</div>
					<header class="list-group-item">
						<h4 class="list-title">{{inSettingsMode() ? 'Edit consumer' : currentConsumer.name}}</h4>
					</header>
					<inc-product-list-items
						ng-if="!inSettingsMode()"
						products="currentConsumer.products"
					></inc-product-list-items>
					<footer class="list-group-item" ng-if="!inSettingsMode()">
						<span class="order-header">{{currentOccasion.name}}</span>
						<span class="order-price">{{currentConsumerGetTotal() | currency: "&euro;"}} <span ng-if="currentConsumer.limit">/ {{currentConsumer.limit | currency: "&euro;"}}</span></span>
					</footer>

					<div class="list-group-wrapper" ng-if="inSettingsMode()">
						<li class="list-group-item"><label><span>Name</span> <span class="value">{{currentConsumer.name}}</span></label></li>
						<li class="list-group-item"><label><span>Limit</span> <input id="consumer-limit" string-to-price type="number" step="0.01" min="0.00" ng-model="currentConsumer._edit.limit"/></label></li>
						<li class="list-group-item" ng-if="currentConsumer.isEditable"><label>
							<span>Show consumer</span>

							<div class="form-checkbox">
								<input type="checkbox" ng-model="currentConsumer._edit.show" /><label></label>
							</div>
						</label></li>
					</div>
					<footer class="list-group-item action" ng-if="inSettingsMode()">
						<button type="button" class="alert-danger" ng-click="doActionSecondary()"><i class="glyphicon glyphicon-remove"></i></button>
						<button type="button" class="alert-success" ng-click="doActionPrimary()"><i class="glyphicon glyphicon-ok"></i></button>
					</footer>
				</ol>
			</div><!-- #consumer-details -->
		</div><!-- #app-input-form -->

		<!-- Order History -->

		<div id="app-orders" class="orders ng-class:{'no-orders': ! getOrdersCount()};">
			<ol id="all-orders" class="list-group">
				<header class="list-group-item" ng-click="toggleOrders()">
					<h4 class="list-title">
						Orders
						<span class="badge">{{getOrdersCount()}}</span>
					</h4>
				</header>
				<div class="list-group-wrapper">
					<li class="list-group-item ng-class:{'edited': order.isEdited};" ng-repeat="order in orders | orderBy: '-'" ng-click="toggleCurrentOrder( order )">
						<div class="order-header">
							<span class="order-consumer">{{order.consumerName}}</span>
							<span class="order-size badge">{{sumOrderAmount( order )}}</span>
						</div>
						<span class="order-time">{{order.timestamp | date: 'HH:mm'}}</span>
					</li>
					<footer class="list-group-item">
						{{ haveOrders()
							? 'Your history starts here'
							: haveOccasion() ? 'Nothing here to show' : 'Set the Occasion'
						}}
						<span class="glyphicon glyphicon-{{haveOrders() ? 'glass' : haveOccasion() ? 'erase' : 'tag'}}"></span>
					</footer>
				</div>
			</ol><!-- #history-orders -->

			<div id="single-order" ng-class="{'editing': editingCurrentOrder(), 'consumer-panel': editingOrderConsumer}" ng-click="toggleCurrentOrder($event)">
				<ol class="list-group list-group-nested rounded">
					<header class="list-group-item" ng-click="toggleOrderConsumerPanel()">
						<h4 class="list-title">
							{{getOrderConsumerName()}}
							<span class="badge">{{sumOrderAmount( false, true )}}</span>
						</h4>

						<span class="open-consumer-panel glyphicon glyphicon-chevron-right"></span>
						<span class="close-consumer-panel glyphicon glyphicon-chevron-left"></span>
					</header>
					<inc-product-list-items
						products="products"
						filter="showOrderProduct(a)"
						selector="addProductToOrder(a)"
						action-secondary="subtractProductFromOrder(a)"
						counter="getOrderProductAmount(a)">
					</inc-product-list-items>
					<inc-consumer-list-items
						groups="groups"
						consumers="consumers"
						filter="showConsumer(a)"
						selector="selectOrderConsumer(a)"
						selected="isOrderConsumerSelected(a)">
					</inc-consumer-list-items>
					<li class="list-group-item">
						<div class="order-header">
							<span class="order-time">{{currentOrder.timestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
						</div>
						<span class="order-price">{{sumOrderPrice() | currency: "&euro;"}}</span>
					</li>
					<footer class="list-group-item action">
						<button type="button" ng-class="classActionSecondary()" ng-click="doActionSecondary()"><i class="glyphicon glyphicon-{{iconActionSecondary()}}"></i></button>
						<button type="button" ng-class="classActionPrimary()" ng-click="doActionPrimary()"><i class="glyphicon glyphicon-{{iconActionPrimary()}}"></i></button>
					</footer>
				</ol>
			</div><!-- #single-order -->
		</div><!-- #app-orders -->

		<div id="online-status">
			<div class="wrap">
				<h4>Connection Lost</h4>
				<p>Check your internet connection before you continue.</p>
			</div>
		</div><!-- #online-status -->

	</div><!-- #app-body -->

	<!-- App Actions (Footer) -->

	<footer id="app-footer">
		<button type="button" id="action-primary" ng-class="classActionPrimary()" ng-click="doActionPrimary()">
			<span class="glyphicon glyphicon-{{iconActionPrimary()}}"></span>
		</button>
		<button type="button" id="action-secondary" ng-class="classActionSecondary()" ng-click="doActionSecondary()">
			<span class="glyphicon glyphicon-{{iconActionSecondary()}}"></span>
		</button>
	</footer><!-- #app-footer -->

</body>
</html>
