<div class="list-group-wrapper app-products ng-class:{'items': haveItems()};">
	<li class="list-group-item ng-class:{'product': product.name};" ng-repeat="product in products | filter:listFilter" ng-click="select(product, $event)">
		<div class="product-header">
			<span class="product-name">{{product.name}}</span>
			<span class="product-price">{{product.price | currency: "&euro;"}}</span>
			<span class="product-amount badge" ng-if="!! count(product)">{{count(product)}}</span>
		</div>
		<div class="product-action action-secondary" ng-click="deselect(product, $event)">
			<span class="glyphicon glyphicon-{{iconSecondary}}"></span>
		</div>
	</li>
	<li class="list-group-item" ng-if="!haveItems()">There are no products to display.</li>
</div>
