/**
 * Incassoos Administration Styles
 *
 * @package Incassoos
 * @subpackage Administration
 */

/* Header */

.incassoos-admin-header {
	position: absolute;
	display: flex;
	top: 0px;
	right: 0px;
	left: -20px;
	height: 44px;
	padding: 0px 20px 0px 22px;
	background: #fff;
	border-bottom: 1px solid #ccd0d4;
}

.incassoos-admin-header .plugin-title {
	display: flex;
	flex: 1;
	padding: 0px;
	font-size: 16px;
}

.incassoos-admin-header .plugin-title .icon {
	margin-right: 5px;
	align-self: center;
}

.incassoos-admin-header .plugin-title a,
.incassoos-admin-header .nav-item {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.incassoos-admin-header .plugin-title a {
	padding: 13px 0px;
}

.incassoos-admin-header .nav-wrapper {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	color: #757575;
}

.incassoos-admin-header .nav-item {
	padding: 0px 12px;
	line-height: 44px;
}

.incassoos-admin-header .nav-item:hover {
	background: #f5f5f5;
	color: #444;
}

.incassoos-admin-header .nav-item-active {
	font-weight: 600;
}

body.incassoos #wpbody-content {
	margin-top: 45px;
}

/* List Table */

.fixed .column-price,
.fixed .column-products,
.fixed .column-total {
	width: 80px;
}

.fixed .column-collected,
.fixed .column-assets,
.fixed .column-activity_date,
.fixed .column-participants,
.fixed .column-collection,
.fixed .column-occasion_date,
.fixed .column-orders,
.fixed .column-consumers {
	width: 10%;
}

.fixed .column-occasion {
	width: 15%;
}

.fixed .column-assets a {
	display: table;
}

.fixed .column-orders a {
	display: none;
}

.fixed .column-collected span[title] {
	-webkit-text-decoration: dotted underline;
	text-decoration: dotted underline;
}

.fixed tr:hover .column-orders a.view {
	display: table;
	margin-top: .2em;
}

.fixed .column-consumer strong {
	display: block;
	font-size: 14px;
	margin-bottom: .2em;
}

/* Taxonomy terms */
.fixed .row-title .status,
.fixed .row-title .status:hover {
	color: #555;
}

/* Metaboxes */

/* WP 5.5+: Cancel flex display because headings may have span.count */
body.incassoos-post-view #poststuff h2.hndle,
body.incassoos-post-edit #poststuff h2.hndle {
	display: block;
}

/* Content Metabox */

body.incassoos-post-view #postdivrich .inside {
	max-width: 600px;
}

/* Notices */

.incassoos-notice p ~ p {
	display: none;
}

.incassoos-notice.open p ~ p {
	display: block;
}

/* Publishing Metabox */

#major-publishing-actions:first-child {
	border: none;
}

#misc-publishing-actions .publishing-notice,
#major-publishing-actions .publishing-notice {
	display: inline-block;
	line-height: 28px;
}

#major-publishing-actions .publishing-notice label {
	margin-right: 4px;
	font-weight: 600;
}

#major-publishing-actions .publishing-notice .value {
	vertical-align: middle;
}

#misc-publishing-actions .publishing-action,
#major-publishing-actions .publishing-action {
	text-align: right;
	float: right;
	line-height: 23px;
}

#major-publishing-actions .button.disabled {
	pointer-events: none;
}

#misc-publishing-actions .publishing-action .spinner,
#major-publishing-actions .publishing-action .spinner {
	float: left;
}

@media screen and (max-width: 782px) {

	#misc-publishing-actions .publishing-action,
	#major-publishing-actions .publishing-action {
		line-height: 47px;
	}

	#misc-publishing-actions .publishing-action .spinner,
	#major-publishing-actions .publishing-action .spinner {
		float: none;
		margin-top: -2px; /* Half of the Collect button's bottom margin. */
	}
}

/* Details Metabox */

.incassoos-post-view #titlediv #title {
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 8px 3px;
	color: #32373c;
	border: 1px solid #e5e5e5;
	font-weight: inherit;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.incassoos-post-view #titlediv ~ .meta-box-sortables #postdivrich {
	margin: 17px 0px 0px;
}

.incassoos-object-details p:last-child,
.incassoos-item-list p:last-child,
.incassoos-object-details ul:last-child {
	margin-bottom: 0px;
}

.incassoos-object-details label {
	display: inline-block;
	width: 32%;
	margin-right: -4px;
	padding-right: 8px;
	font-weight: 600;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}

.incassoos-object-details label + * {
	display: inline-block;
	width: 100%;
	max-width: 68%;
	margin-right: 0px;
	margin-left: 0px;
	vertical-align: top;
}

.incassoos-object-details label + select {
	width: 68%;
}

.incassoos-object-details label + .detail-wrapper select {
	width: 100%;
}

.incassoos-object-details label + .detail-wrapper .separator {
	display: block;
	width: 100%;
	padding: 4px 0px 6px;
	text-align: center;
}

.incassoos-object-details .value span {
	display: block;
}

#major-publishing-actions #collection-total {
	display: inline-block;
	vertical-align: top;
	text-overflow: ellipsis;
	max-width: 110px;
	overflow: hidden;
	white-space: nowrap;
}

.incassoos-object-details .new-value:not(:empty) + .value,
#major-publishing-actions .new-value:not(:empty) + .value {
	margin-left: 4px;
	text-decoration: line-through;
}

#incassoos_collection_details .inside,
#incassoos_activity_details .inside,
#incassoos_occasion_details .inside,
#incassoos_order_details .inside,
#incassoos_product_details .inside,
#incassoos_collection_activities .inside,
#incassoos_collection_occasions .inside,
#incassoos_collection_consumers .inside,
#incassoos_activity_participants .inside,
#incassoos_occasion_products .inside,
#incassoos_occasion_consumers .inside,
#incassoos_order_products .inside {
	margin: 0px;
	padding: 0px;
}

.incassoos-post-view #incassoos_collection_details .incassoos-object-details,
#incassoos_activity_details .incassoos-object-details,
.incassoos-post-view #incassoos_occasion_details .incassoos-object-details,
.incassoos-post-view #incassoos_order_details .incassoos-object-details,
.incassoos-post-view #incassoos_product_details .incassoos-object-details {
	margin: 6px 0px 0px 0px;
}

.incassoos-object-details p,
.incassoos-item-list p {
	padding: 0px 12px 12px;
	margin: 0px;
}

.incassoos-object-details p:first-child,
.incassoos-item-list p:first-child {
	margin: 8px 0px 0px;
}

.incassoos-object-details .warning {
	font-style: italic;
}

.incassoos-post-view .incassoos-object-details label,
.incassoos-post-view .incassoos-item-list label {
	cursor: inherit;
}

#misc-publishing-actions {
	padding: 10px;
	clear: both;
	border-top: 1px solid #ddd;
	background: #fafafa;
}

#misc-publishing-actions .publishing-notice {
	max-width: 50%;
}

#misc-publishing-actions .publishing-notice.require-confirmation,
#misc-publishing-actions .publishing-notice.require-decryption-key {
	max-width: none;
	margin-bottom: 10px;
}

#misc-publishing-actions .publishing-notice .action-confirmation,
#misc-publishing-actions .publishing-notice .action-decryption-key {
	display: none;
}

#misc-publishing-actions .publishing-notice.require-confirmation .action-confirmation,
#misc-publishing-actions .publishing-notice.require-decryption-key .action-decryption-key {
	display: inline-block;
}

#misc-publishing-actions .publishing-notice.require-confirmation .action-confirmation label,
#misc-publishing-actions .publishing-notice.require-decryption-key .action-decryption-key label {
	font-weight: inherit;
}

#misc-publishing-actions .publishing-notice.require-decryption-key .action-decryption-key input {
	text-align: left;
	width: 100%;
}

/* single column */
@media screen and (max-width: 850px) {

	#misc-publishing-actions .publishing-notice {
		max-width: none;
	}

	#misc-publishing-actions .publishing-notice.require-confirmation,
	#misc-publishing-actions .publishing-notice.require-decryption-key {
		margin-bottom: 0px;
	}

	#misc-publishing-actions .publishing-notice .action-decryption-key {
		width: auto;
	}
}

/* Item list */

.incassoos-item-list {
	margin: 6px 0px 0px 0px;
}

#incassoos_collection_consumers .incassoos-item-list,
#incassoos_activity_participants .incassoos-item-list,
#incassoos_occasion_consumers .incassoos-item-list,
#incassoos_order_products .incassoos-item-list {
	margin: 0px;
}

.incassoos-item-list ul {
	margin: 0px;
}

.incassoos-item-list li {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px 12px;
	box-sizing: border-box;
}

.incassoos-item-list .sublist li {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.incassoos-item-list .group {
	padding-bottom: 0px;
	display: inline-block;
}

.incassoos-item-list .group.hidden,
.incassoos-item-list .group.search-hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.incassoos-item-list .open-details.opened,
.incassoos-item-list .open-details.opened + .item-details,
.incassoos-item-list .sublist > li > ul > li:hover {
	background: #fbfbfb;
}

.incassoos-item-list > ul > li:last-of-type {
	padding-bottom: 12px;
}

.incassoos-item-list > ul > li:not(.selector),
.incassoos-item-list ul .group {
	padding-top: 5px;
	padding-bottom: 10px;
}

.incassoos-item-list li > input {
	margin-top: 0px;
}

.incassoos-item-list .sublist-header {
	display: inline-block;
	margin: 0px;
	width: 100%;
	padding: 0px 12px 6px;
	vertical-align: middle;
	font-weight: normal;
	font-style: italic;
	box-sizing: border-box;
}

.incassoos-item-list label {
	display: inline-block;
	/*width: 100%;*/
}

.incassoos-post-edit .incassoos-item-list li input + label {
	width: calc( 100% - 24px );
}

.incassoos-post-edit .incassoos-item-list .products .order-product input + label {
	width: calc( 100% - 76px );
	padding-top: 4px;
	padding-bottom: 5px;
}

.incassoos-post-edit .incassoos-item-list .products .order-product.is-selected input + label {
	font-weight: bold;
}

.incassoos-item-list .item-date {
	display: block;
	color: #666;
}

.incassoos-item-list .details {
	display: block;
}

.incassoos-item-list .details [class$="count"],
.incassoos-item-list .details [class$="total"] {
	font-weight: 600;
	opacity: .7;
}

.incassoos-item-list .details [class$="total"]:before {
	content: '/';
	margin-right: 4px;
}

.incassoos-item-list .details .view-action {
	display: none;
}

.incassoos-item-list .details .view-action:before {
	content: '|';
	color: #ddd;
	margin: 0 4px;
}

.incassoos-item-list label:hover .details .view-action {
	display: inline-block;
}

.incassoos-item-list .activity-participant,
.incassoos-item-list .occasion-product {
	display: flex;
}

.incassoos-item-list .assets .asset .title,
.incassoos-item-list .users .consumer .title,
.incassoos-item-list .products .product .title {
	display: inline-block;
	font-weight: 600;
	vertical-align: middle;
	flex: 1;
	padding-right: 12px;
	box-sizing: border-box;
}

.incassoos-item-list .products .product .title {
	display: flex;
	width: 90%; /* 100% does not flow correctly flex layout */
}

.incassoos-item-list .assets .asset .title,
.incassoos-item-list .users .consumer .title,
.incassoos-item-list .products .product .title .label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: pre;
}

.incassoos-item-list .products .product .title .price {
	padding-left: 3px;
	white-space: pre;
}

.incassoos-item-list .collection-consumer,
.incassoos-item-list .collection-consumer-type,
.incassoos-item-list .occasion-consumer,
.incassoos-item-list .occasion-consumer-type,
body.incassoos-post-view .incassoos-item-list .collection-consumer,
body.incassoos-post-view .incassoos-item-list .collection-consumer-type,
body.incassoos-post-view .incassoos-item-list .occasion-consumer,
body.incassoos-post-view .incassoos-item-list .occasion-consumer-type {
	padding: 0px;
}

.incassoos-item-list .open-details,
.incassoos-item-list .item-content {
	display: flex;
	width: 100%;
	padding: 5px 12px 7px;
	color: inherit;
	line-height: 20px;
	text-decoration: none;
	box-sizing: border-box;
}

.incassoos-item-list .item-details {
	display: none;
	margin-top: 2px;
	padding: 6px 12px 12px;
	opacity: .6;
}

.incassoos-item-list .open-details.opened + .item-details {
	display: block;
}

body.incassoos-post-view .incassoos-item-list .item-details li,
.incassoos-post-edit .incassoos-item-list .item-details li {
	padding: 0px;
	display: flex;
}

.incassoos-item-list .item-details .title {
	width: calc( 100% - 50px );
	padding-right: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.incassoos-item-list .item-list-header {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	padding: 6px 12px 5px;
	border-bottom: 1px solid #eee;
}

.incassoos-item-list .item-list-header .quick-select {
	margin-right: 8px;
}

.incassoos-item-list .item-list-header .list-search {
	flex: 1;
	height: 28px;
	margin-right: 8px;
	padding: 4px 5px;
	line-height: 28px;
	vertical-align: middle;
	border: 0px;
}

.incassoos-item-list .item-list-header > label:first-child + .list-search,
body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) .item-list-header > .list-search {
	margin-left: -5px;
}

.incassoos-item-list .item-list-header #show-selected,
.incassoos-item-list .item-list-header #show-default-items {
	padding: 5px 3px 5.5px;
}

.incassoos-item-list .item-list-header #reverse-group-order,
.incassoos-item-list .item-list-header #toggle-list-columns,
.incassoos-item-list .item-list-header #open-add-participant {
	padding: 3px 3px 3.5px;
	margin: 0px 0px 0px 2px;
	border: 1px solid transparent;
}

/* Any sibling following the main search box */
.incassoos-item-list .item-list-header > .list-search + * {
	margin-left: auto !important; /* auto applies float:right in flexbox */
}

.incassoos-item-list #show-selected:after,
.incassoos-item-list #show-default-items:after,
.incassoos-item-list #reverse-group-order:after,
.incassoos-item-list #toggle-list-columns:after,
.incassoos-item-list #open-add-participant:after,
.incassoos-item-list .activity-participant .toggle-custom-price:before {
	display: inline-block;
	font: normal 20px/1 dashicons;
	vertical-align: bottom;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

.incassoos-item-list #show-selected:after,
.incassoos-item-list #show-default-items:after {
	content: '\f530'; /* dashicons-hidden */
	color: #ddd;
	margin: 0px 0px -2px 6px;
}

.incassoos-item-list.showing-selected #show-selected:after,
.incassoos-item-list.showing-default-items #show-default-items:after {
	content: '\f177'; /* dashicons-visibility */
	color: inherit;
}

.incassoos-item-list #reverse-group-order:after {
	content: '\f113'; /* dashicons-update-alt */
	transform: rotateZ(90deg);
	color: inherit;
}

.incassoos-item-list #toggle-list-columns:after {
	content: '\f228'; /* dashicons-menu-alt */
	color: inherit;
}

.incassoos-item-list #open-add-participant:after {
	content: '\f543'; /* dashicons-plus-alt2 */
	color: inherit;
}

.incassoos-item-list .adding-participant #open-add-participant:after {
	content: '\f460'; /* dashicons-minus */
	color: inherit;
}

.incassoos-item-list.no-list-columns #toggle-list-columns:after {
	transform: rotateZ(90deg);
}

.incassoos-item-list .add-participant-container.adding-participant {
	position: relative;
	width: 30px;
	height: 28px;
}

.incassoos-item-list .item-list-header .adding-participant #open-add-participant {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #ddd;
	border-bottom-color: #fff;
	background: #fff;
	z-index: 2;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: calc( 100% + -1px );
	right: 0px;
	max-height: 30em;
	padding-top: 1px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px 0px 2px 2px;
	z-index: 1;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .04);
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .list-search {
	border-radius: 2px 0px 0px 0px;
	margin: 0px;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .item-list {
	flex: 1;
	margin: 0px;
	overflow-y: scroll;
	border-top: 1px solid #ddd;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .sublist-header {
	padding-top: 0px;
	padding-bottom: 0px;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .group,
.incassoos-item-list .add-participant-container.adding-participant .add-participant .group .title {
	padding: 5px 0px;
	color: inherit;
	text-decoration: none;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .group .consumer {
	padding: 0px;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .group .consumer:hover {
	background: #fbfbfb;
}

.incassoos-item-list .add-participant-container.adding-participant .add-participant .group .consumer .title {
	width: 140px;
	padding: 5px 12px;
	color: inherit;
	text-decoration: none;
}

.incassoos-item-list .search-hide,
.incassoos-item-list .hide-in-list,
.incassoos-item-list.showing-selected .groups .activity-participant .select-user:not(:checked),
.incassoos-item-list.showing-selected .groups .activity-participant .select-user:not(:checked) ~ *,
.incassoos-item-list.showing-default-items .hidden-consumer {
	display: none;
}

.incassoos-item-list .sublist-header .select-group-users {
	width: 100%;
	color: inherit;
	line-height: 20px;
	text-decoration: none;
	font-style: italic;
}

.incassoos-post-edit .incassoos-item-list .activity-participant .item-content {
	padding: 0px 12px 0px;
}

.incassoos-item-list .activity-participant .select-user {
	margin: 7px 10px 0px 0px;
}

.incassoos-item-list .activity-participant .select-user + .title {
	padding: 5px 12px 5px 0px;
	max-width: calc( 100% - 108px );
}

.incassoos-item-list .activity-participant .select-user + .title + .price-input {
	display: none;
	position: absolute;
	right: 6px;
}

.incassoos-item-list .activity-participant .select-user:checked + .title + .price-input {
	display: inline-block;
}

.incassoos-item-list .activity-participant .toggle-custom-price {
	vertical-align: top;
	margin-top: 3px;
	padding: 2px;
	opacity: 0; /* Hide with opacity to enable :focus */
	pointer-events: none;
}

.incassoos-item-list .activity-participant:hover .toggle-custom-price,
.incassoos-item-list .activity-participant input:focus + .toggle-custom-price,
.incassoos-item-list .activity-participant .toggle-custom-price:focus,
.incassoos-item-list .activity-participant input:focus + label .toggle-custom-price {
	opacity: 1;
	pointer-events: inherit;
}

.incassoos-item-list .activity-participant:focus-within input + label .toggle-custom-price {
	opacity: 1;
	pointer-events: inherit;
}

.incassoos-item-list .activity-participant .custom-price {
	width: 64px;
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
	text-decoration: none;
	box-shadow: none;
	text-align: right;
}

.incassoos-item-list .activity-participant .custom-price[disabled] {
	pointer-events: none;
}


.incassoos-item-list .activity-participant .cancel-custom-price,
.incassoos-item-list .activity-participant.has-custom-price .set-custom-price {
	display: none;
}

.incassoos-item-list .activity-participant.has-custom-price .cancel-custom-price {
	display: inline-block;
}

.incassoos-item-list .activity-participant .set-custom-price:before {
	content: '\f464'; /* dashicons-edit */
}

.incassoos-item-list .activity-participant .cancel-custom-price:before {
	content: '\f335'; /* dashicons-no-alt */
}

.incassoos-item-list .products .product .value {
	display: inline-block;
	margin-right: 8px;
	text-align: right;
	vertical-align: middle;
}

.incassoos-item-list .products .order-product input.value {
	width: 52px;
	margin: 5px 8px 5px 0px;
}

.incassoos-item-list .products .order-product .order-product-amount:after {
	content: '×';
	margin-left: 8px;
	margin-right: 4px;
}

.incassoos-item-list .users .consumer .input {
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}

.incassoos-post-edit .incassoos-item-list .users .consumer:not(.has-custom-price) .price,
.incassoos-item-list .products .product .price {
	opacity: .6;
}

.incassoos-item-list .activity-participant .custom-price::webkit-input-placeholder {
	opacity: .6
}

.incassoos-item-list .activity-participant .custom-price:ms-input-placeholder {
	opacity: .6
}

.incassoos-item-list .activity-participant .custom-price::ms-input-placeholder {
	opacity: .6
}

.incassoos-item-list .activity-participant .custom-price::placeholder {
	opacity: .6
}

.incassoos-item-list .products .price:before {
	content: '(';
}

.incassoos-item-list .products .price:after {
	content: ')';
}

@media screen and (min-width: 600px) {

	.incassoos-item-list:not(.no-list-columns) .list-columns {
		columns: 2;
		-webkit-column-gap: 1px;
		   -moz-column-gap: 1px;
		        column-gap: 1px;
		-webkit-column-rule: 1px solid #eee;
		   -moz-column-rule: 1px solid #eee;
		        column-rule: 1px solid #eee;
	}
}

@media screen and (max-width: 782px) {

	.incassoos-object-details label + span {
		font-size: 16px;
	}

	.incassoos-post-edit .incassoos-item-list li input + label {
		/*width: calc( 100% - 33px );*/
	}

	.incassoos-item-list .item-list-header .list-search {
		height: 36px;
		font-size: 16px;
	}

	.incassoos-item-list .item-list-header #show-selected,
	.incassoos-item-list .item-list-header #show-default-items {
		font-size: 16px;
	}

	.incassoos-item-list .item-list-header #reverse-group-order,
	.incassoos-item-list .item-list-header #toggle-list-columns,
	.incassoos-item-list .item-list-header #open-add-participant {
		margin-top: 4px;
	}
}

@media only screen and (min-width: 851px) {

	#post-body.columns-2 #postbox-container-1 .incassoos-item-list .list-columns {
		columns: 1;
	}
}

@media only screen and (min-width: 1400px) {

	#postbox-container-2 .incassoos-item-list:not(.no-list-columns) .list-columns {
		columns: 3;
	}
}

@media only screen and (min-width: 1950px) {

	#postbox-container-2 .incassoos-item-list:not(.no-list-columns) .list-columns {
		columns: 4;
	}
}

@media only screen and (min-width: 2500px) {

	#postbox-container-2 .incassoos-item-list:not(.no-list-columns) .list-columns {
		columns: 5;
	}
}

/* Notes Metabox */

.incassoos-post-edit #incassoos_notes .inside {
	margin: 0px;
	padding: 0px;
}

.incassoos-post-edit #incassoos_notes .inside .wp-editor-container {
	border: none;
	box-shadow: none;
}

.incassoos-post-edit #incassoos_notes .inside div.mce-toolbar-grp {
	border-bottom-color: #eee;
}

.incassoos-post-edit #incassoos_notes .inside #excerpt {
	min-height: 16em;
	border: none;
	box-shadow: none;
	padding: 0px 12px 12px;
}

/* Dashboard Page */

#incassoos_dashboard_status ul {
	margin: 0;
	display: inline-block;
	width: 100%;
}

#incassoos_dashboard_status li {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

#incassoos_dashboard_status li a:before,
#incassoos_dashboard_status li span:before {
	color: #606a73;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;
}

#incassoos_dashboard_status li a:before,
#incassoos_dashboard_status li span:before {
	content: '\f159'; /* dashicons-marker */
	padding: 0 5px 0 0;
}

#incassoos_dashboard_status .collection-count a:before {
	content: '\f480'; /* dashicons-archive */
}

#incassoos_dashboard_status .activity-count a:before {
	content: '\f180'; /* dashicons-screenoptions */
}

#incassoos_dashboard_status .occasion-count a:before {
	content: '\f227'; /* dashicons-flag */
}

#incassoos_dashboard_status .order-count a:before {
	content: '\f187'; /* dashicons-food */
}

#incassoos_dashboard_status .product-count a:before {
	content: '\f16f'; /* dashicons-coffee */
}

#incassoos_dashboard_status .encryption a:before {
	content: '\f335'; /* dashicons-no-alt */
}

body.incassoos-encryption-enabled #incassoos_dashboard_status .encryption a:before {
	content: '\f147'; /* dashicons-yes */
}

#incassoos_dashboard_actions .main span {
	display: inline-block;
	margin: 0px 5px 10px 0px;
}

#incassoos_dashboard_recent .inside,
#incassoos_dashboard_uncollected .inside {
	margin: 0;
	padding-bottom: 0;
}

#incassoos_dashboard_recent .recent-posts li,
#incassoos_dashboard_uncollected .recent-posts li {
	display: flex;
	margin-bottom: 8px;
}

#incassoos_dashboard_recent .recent-posts span,
#incassoos_dashboard_uncollected .recent-posts span {
	display: inline-block;
	color: #72777c;
}

#incassoos_dashboard_recent .recent-posts .post-link,
#incassoos_dashboard_uncollected .recent-posts .post-link {
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: pre;
}

#incassoos_dashboard_recent .recent-posts .post-date,
#incassoos_dashboard_uncollected .recent-posts .post-date {
	margin-right: 5px;
	min-width: 120px;
}

#incassoos_dashboard_recent .recent-posts .post-detail,
#incassoos_dashboard_uncollected .recent-posts .post-detail {
	margin-left: 10px;
	text-align: right;
}

/** Page Information Box **/

body.incassoos .page-information-box {
	display: flex;
	margin: 10vh auto;
	width: 400px;
	flex-direction: column;
	justify-content: center;
}

/* See WordPress/.login .button.wp-hide-pw */
body.incassoos .button-in-input {
	background: 0 0;
	border: 1px solid transparent;
	box-shadow: none;
	font-size: 14px;
	line-height: 2;
	width: 2.5rem;
	height: 1.5rem;
	margin: 0;
	padding: 5px 9px;
	position: absolute;
	right: 0;
	top: 0;
	/* dashicons */
	display: inline-block;
	font: normal 20px/1 dashicons;
	vertical-align: bottom;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

body.incassoos .button-in-input:hover {
	background: 0 0;
	border: 1px solid transparent; /* overrides @WordPress/.wp-core-ui .button:hover */
}

body.incassoos .button-in-input:focus {
	background: 0 0;
	border-color: #007cba;
	box-shadow: 0 0 0 1px #007cba;
	outline: 2px solid transparent;
}

/** Consumers Page **/

body.incassoos_page_incassoos-consumers #toggle-bulk-edit {
	margin-right: 8px;
}

body.incassoos_page_incassoos-consumers .import-export-consumers {
	float: right;
}

body.incassoos_page_incassoos-consumers .bulk-editing .import-export-consumers {
	display: none; /* hide import/export when bulk editing */
}

body.incassoos_page_incassoos-consumers .import-export-consumers .spinner {
	float: left;
}

body.incassoos_page_incassoos-consumers .export-consumers-wrapper {
	display: inline-block;
}

body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) #bulk-action-selector,
body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) #doaction,
body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) #consumer-quick-select,
body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) .select-group-users,
body.incassoos_page_incassoos-consumers .incassoos-item-list.bulk-editing .select-group-users + .title,
body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) .select-user {
	display: none;
}

body.incassoos_page_incassoos-consumers .users .consumer {
	margin: 0px;
}

body.incassoos_page_incassoos-consumers .users .consumer.no-iban .consumer-name {
	color: #f06060;
}

body.incassoos_page_incassoos-consumers .users .consumer.no-iban input[name="_incassoos_iban"] {
	border-color: #f06060;
}

body.incassoos_page_incassoos-consumers .users .consumer > .consumer-name {
	width: 100%;
	padding: 6px 12px;
	background: none;
	border: none;
	line-height: 20px;
	text-align: left;
	cursor: pointer;
}

body.incassoos_page_incassoos-consumers .users .consumer.toggled {
	display: inline-block;
	width: 100%;
}

body.incassoos_page_incassoos-consumers .users .consumer.toggled {
	border-top: 1px solid #e5e5e5;
	margin-top: -1px; /* correct pixel-jump */
}

body.incassoos_page_incassoos-consumers .users .consumer.toggled {
	border-bottom: 1px solid #e5e5e5;
}

body.incassoos_page_incassoos-consumers .users .consumer > .consumer-name {
	font-weight: 600;
}

body.incassoos_page_incassoos-consumers .users .consumer:hover,
body.incassoos_page_incassoos-consumers .users .consumer.toggled,
body.incassoos_page_incassoos-consumers .users .consumer > .consumer-name:focus {
	background: #fbfbfb;
}

body.incassoos_page_incassoos-consumers .users .consumer > .consumer-name:after {
	display: inline-block;
	float: right;
	font: normal 20px/1 dashicons;
	vertical-align: bottom;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	opacity: .35;
}

body.incassoos_page_incassoos-consumers .users .consumer.hidden-consumer > .consumer-name:after {
	content: '\f530'; /* dashicons-hidden */
}

body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) .users .consumer:not(.toggled) > .consumer-name:hover:after,
body.incassoos_page_incassoos-consumers .incassoos-item-list:not(.bulk-editing) .users .consumer:not(.toggled) > .consumer-name:focus:after {
	content: '\f464'; /* dashicons-edit */
	opacity: 1;
}

body.incassoos_page_incassoos-consumers .inline-edit {
	padding: 5px 12px;
}

body.incassoos_page_incassoos-consumers .inline-edit-row .inline-edit-fields {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0px 12px;
}

body.incassoos_page_incassoos-consumers .inline-edit-row .inline-edit-fields > label {
	display: contents; /* ignore this wrapper in the grid */
}

body.incassoos_page_incassoos-consumers .inline-edit-row .inline-edit-fields span.title {
	display: contents; /* makes text not wrap */
}

body.incassoos_page_incassoos-consumers .inline-edit-row .inline-edit-fields span.input-text-wrap {
	margin-left: 0px;
}

body.incassoos_page_incassoos-consumers .inline-edit .input-text-wrap label {
	display: inline-block;
	margin: 0px 15px 0px 2px;
}

body.incassoos_page_incassoos-consumers .inline-edit .submit {
	padding-right: 0px;
	padding-left: 0px;
}

@media screen and (min-width: 600px) {

	body.incassoos_page_incassoos-consumers .incassoos-item-list .groups {
		columns: 2;
		-webkit-column-gap: 1px;
		   -moz-column-gap: 1px;
		        column-gap: 1px;
		-webkit-column-rule: 1px solid #e5e5e5;
		   -moz-column-rule: 1px solid #e5e5e5;
		        column-rule: 1px solid #e5e5e5;
	}
}

@media screen and (max-width: 782px) {
	body.incassoos_page_incassoos-consumers .tablenav {
		height: 40px;
		margin: 20px 0px 5px 0px;
	}
}

@media only screen and (min-width: 1200px) {

	body.incassoos_page_incassoos-consumers .incassoos-item-list .groups {
		columns: 3;
	}
}

@media only screen and (min-width: 1600px) {

	body.incassoos_page_incassoos-consumers .incassoos-item-list .groups {
		columns: 4;
	}
}

/** Settings Page **/

body.incassoos_page_incassoos-settings .wp-editor-wrap {
	width: 600px;
}

/** Encryption Page **/

body.incassoos_page_incassoos-encryption .encryption-form {
	margin: 1em 0;
	counter-reset: encryption-step;
}

body.incassoos_page_incassoos-encryption .step-item:not(.active-step) {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	top: -9999px;
}

body.incassoos_page_incassoos-encryption .step-title:before {
	counter-increment: encryption-step;
	content: "\00a0" counter(encryption-step) ".";
	content: "\00a0" counter(encryption-step) "." / "";
	margin-right: 4px;
}

body.incassoos_page_incassoos-encryption .step-description {
	display: contents;
}

body.incassoos_page_incassoos-encryption .step-description ul {
	list-style: disc;
	padding-left: 2em;
}

body.incassoos_page_incassoos-encryption .step-navigation {
	margin-top: 25px;
}

body.incassoos_page_incassoos-encryption #encryption-step-activated label,
body.incassoos_page_incassoos-encryption #encryption-step-are-you-sure label {
	position: relative;
	display: block;
}

body.incassoos_page_incassoos-encryption #decryption-key {
	padding-right: 2.5rem;
	width: 100%;
}

body.incassoos_page_incassoos-encryption #copy-decryption-key:after {
	content: '\f105'; /* dashicons-admin-page */
	/*content: '\f481'; /* dashicons-clipboard */
}

/* Require decryption key wrapper */

body.incassoos .require-decryption-key-wrapper {
	display: inline-flex;
	vertical-align: top;
}

body.incassoos .require-decryption-key-wrapper:not(.opened):before {
	content: '\f112'; /* dashicons-admin-network */
	font: normal 18px/1 dashicons;
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 30px;
	margin-right: -1px;
	padding: 5px 6px;
	color: #0071a1;
	border: 1px solid #0071a1;
	background: #f3f5f6;
	border-radius: 3px 0px 0px 3px;
	box-sizing: border-box;
}

body.incassoos .require-decryption-key-wrapper:not(.opened) input:first-of-type {
	display: none;
}

body.incassoos .require-decryption-key-wrapper input:first-of-type {
	display: inline-block;
	vertical-align: top;
	width: auto;
	margin-right: 0px;
	border-right: 0px;
	border-start-end-radius: 0px;
	border-end-end-radius: 0px;
}

body.incassoos .require-decryption-key-wrapper .button {
	margin-bottom: 0px;
	border-start-start-radius: 0px;
	border-end-start-radius: 0px;
}

@media screen and (max-width: 782px) {
	body.incassoos .require-decryption-key-wrapper:not(.opened):before {
		width: 42px;
		height: 40px;
		padding: 10px;
	}

	body.incassoos_page_incassoos-consumers .import-export-consumers .spinner,
	body.incassoos .require-decryption-key-wrapper .spinner {
		margin: 10px;
	}
}
