/**
 * Incassoos Web-App Styles
 *
 * @package Incassoos
 * @subpackage Web-App
 */

html {
	height: 100%;
	background: #f1f1f1;
	overflow: hidden;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: #444;
	background: #f1f1f1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

label {
	cursor: pointer;
	font-weight: 600;
}

#app-header {
	background: #333;
}

#app-header .navbar {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin: 0px;
	background: rgb(52, 166, 56);
	color: #fff;
	border: none;
	border-bottom: 4px solid rgba(40, 40, 40, .4); /* #2f7432 */
	border-radius: 0;
}

#app-header-center {
	flex: 1;
	padding: 15px;
}

#app-header-left,
#app-header-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	cursor: pointer;
}

#app-header-left:active,
#app-header-left.active,
#app-header-right:active,
#app-header-right.active {
	background: rgba(40, 40, 40, .4);
}

#app-header-left.disabled,
#app-header-right.disabled {
	pointer-events: none;
	visibility: hidden;
}

#app-header-center h1 {
	width: 100%;
	margin: 0px;
	text-align: center;
	font-size: 1.2em;
	font-weight: 200;
	text-transform: uppercase;
}

#settings-link {
	top: auto;
	transition: transform .2s ease-in;
}

.active #settings-link {
	transform: rotate(45deg);
}

.loading #settings-link {
	display: none;
}

#about-toggle img {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	vertical-align: top;
}

#app-body {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#app-body > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

/**** Loader ****/

body.loading {
	background: #f1f1f1 url('../img/loader.svg') center center no-repeat;
	background-size: 40px;
}

body #app-body,
body #app-footer {
	transition: opacity .5s ease-in;
}

body.loading #app-body,
body.loading #app-footer {
	opacity: 0;
	transition: opacity 0s ease-in;
}

/**** List Group ****/

.list-group {
	margin: 0px;
	list-style: none;
}

.list-group-item {
	display: list-item;
	background: #fff;
	padding: 20px 15px;
	font-size: 1.15em;
	border-width: 1px 0px 0px;
}

.list-group-wrapper .list-group-item:not(.sub-list-header):not(header):not(footer):not(:active):hover {
	background: #f8f8f8;
}

.list-group-item:not(:first-child):not(footer) {
	border-width: 0;
}

.list-group-wrapper .list-group-item:not(:first-child):not(footer):before,
#app-orders:not(.no-orders) #all-orders .list-group-wrapper > footer.list-group-item:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 48px;
	width: calc( 100% - 48px - 48px );
	border-top: 1px solid #eee;
}

header.list-group-item,
footer.list-group-item {
	margin: 0px;
	background: #f1f1f1;
	text-align: center;
}

.header-avatar + header.list-group-item {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

header.list-group-item .list-title {
	margin: 0px;
	font-size: inherit;
	font-weight: 600;
}

.list-group-nested header.list-group-item,
.list-group-nested footer.list-group-item {
	background: #fff;
	font-weight: 400;
	border: none;
	z-index: 1;
}

header.list-group-item span.badge,
footer.list-group-item span.badge {
	position: absolute;
	margin-left: 10px;
}

footer.list-group-item.action {
	display: flex;
	padding: 0px;
}

footer.list-group-item.action > * {
	flex: 1;
	padding: 20px 15px;
	margin-top: 10px;
}

footer.list-group-item.action > *:hover {
	color: #31708f;
	background-color: #d9edf7;
}

footer.list-group-item.action > *:first-child,
footer.list-group-item.action > *:last-child {
	width: 50%;
}

footer.list-group-item.action > *:first-child:last-child {
	width: 100%;
}

footer.list-group-item button {
	padding: 20px 15px;
	width: 50%;
	font-weight: normal;
	border: none;
	box-shadow: none;
}

footer.list-group-item button:not([class|="alert"]) {
	background: none;
}

footer.list-group-item button:first-child:last-child {
	width: 100%;
}

footer.list-group-item button[disabled] {
	opacity: .4;
}

.list-group-item.tabs {
	display: flex;
	padding: 0px;
	background: transparent;
}

.list-group-item.tabs > * {
	flex: 1;
	padding: 20px 15px;
	margin: 0px;
	text-align: center;
}

.list-group-item.tabs > .current {
	background: #fff;
}

.list-group-item.tabs > *:not(.current):hover {
	background: #f8f8f8;
	color: inherit;
}

.list-group-item.tabs > *:not(.current) {
	background: #f1f1f1;
	color: rgba(68,68,68,.6);
}

.list-group:not(.rounded) .list-group-item:first-child,
.list-group:not(.rounded) .list-group-item:last-child {
	border-radius: 0px;
}

.list-group-item p:last-child:first-child {
	margin: 0px;
}

.list-group-wrapper,
.list-group-nested {
	position: relative;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; /* iOS momentum scroll */
	overflow-x: hidden;
}

.floating .list-group-wrapper,
.floating .list-group-nested {
	border-radius: 4px;
}

.list-group-nested .list-group-wrapper {
	border-radius: 0px;
	margin-top: -1px;
	margin-bottom: -1px;
}

header.list-group-item ~ .list-group-wrapper > li:first-child {
	border-radius: 0px;
	border-top-width: 0px;
}

header.list-group-item ~ .list-group-wrapper > li:last-child {
	border-radius: 0px;
	border-bottom-width: 0px;
}

footer.list-group-item:empty {
	padding: 10px 0;
}

.sub-list-header {
	background: #f1f1f1;
	font-weight: 200;
	text-align: center !important;
}

.sub-list-header ~ li:last-child {
	border-bottom: 0px;
}

.sub-list-header:first-child:last-child {
	display: none;
}

/**** Basic Structure ****/

#app-input-form {
	position: relative;
	flex: 1;
	max-height: 100%;
}

#receipt-form {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-height: 100%;
	/* No z-index, so child elements can layer independently */
}

#list-products,
#list-consumers {
	position: relative;
	height: 100%;
	z-index: 1;
}

#list-products .list-group,
#list-consumers .list-group {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#list-products header.list-group-item,
#list-consumers header.list-group-item {
	/*display: none;*/
}

.list-group-wrapper.app-products,
.list-group-wrapper.app-consumers {
	flex: 1;
	background: #fff;
}

.list-group-wrapper.app-products .list-group-item,
.list-group-wrapper.app-consumers .list-group-item {
	border-radius: 0px;
	cursor: pointer;
}

/**** Windows ****/

#online-status,
#about,
#occasion-selector,
#consumer-details,
#product-details,
#single-order {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 30px;
	background: rgba(40, 40, 40, .8);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	visibility: hidden;
	pointer-events: none;
	z-index: 10;
}

body.offline #online-status,
.viewing-about #about,
.viewing-occasion #occasion-selector,
.viewing-consumer #consumer-details,
.viewing-product #product-details,
.viewing-order #single-order {
	visibility: visible;
	pointer-events: initial;
}

#about .list-group-nested,
#occasion-selector .list-group-nested,
#product-details .list-group-nested,
#consumer-details .list-group-nested,
#single-order .list-group-nested {
	width: 100%;
	max-width: 400px;
	overflow: hidden;
	border-radius: 4px;
	transform: translateY(100px);
	transition: transform .5s cubic-bezier(0,.8,0,1);
}

.viewing-about #about .list-group-nested,
.viewing-occasion #occasion-selector .list-group-nested,
.viewing-consumer #consumer-details .list-group-nested,
.viewing-product #product-details .list-group-nested,
.viewing-order #single-order .list-group-nested {
	transform: translateY(-10vh);
}

#about .list-group-wrapper,
#occasion-selector .list-group-wrapper,
#consumer-details .list-group-wrapper,
#product-details .list-group-wrapper,
#single-order .list-group-wrapper {
	max-height: 35vh;
}

/**** About ****/

#about .thing {
	font-weight: 600;
}

#about .value {
	margin-right: 0px;
	text-align: right;
}

/**** Occasion ****/

.viewing-occasion #occasion-selector,
#occasion-selector header.list-group-item {
	background: #f1f1f1;
}

#occasion-selector .list-group-item {
	border: none;
	margin: 0px;
}

#occasion-selector .list-group-item.state-inactive {
	display: none;
}

#occasion-selector .tabs ~ .list-group-item {
	text-align: center;
}

#occasion-selector .tabs ~ .list-group-item > label {
	margin: -20px 0px;
	padding: 18px 15px;
	width: 100%;
	font-weight: normal;
}

#occasion-selector select {
	max-width: 100%;
	margin: -4px 0px -3px;
	padding: 2px 5px;
	background: #fff;
	border: none;
}

#occasion-selector label input,
#occasion-selector label button {
	display: inline-block;
	margin: -4px 0px -3px;
	padding: 3px 5px;
	background: #fff;
	border: none;
}

select#new-occasion-type,
input#new-occasion-title {
	width: 100px;
	margin-right: 6px;	
}

#new-occasion-date {
	display: inline-block;
	width: 11ex;
	margin-left: 6px;
	padding: 3px 0px;
	background: transparent;
	border: none;
	border-bottom: 1px dashed #bbb;
}

/**** Datepicker ****/

#new-occasion-datepicker {
	display: block;
	padding: 0px;
	max-height: 240px;
	overflow: hidden;
	transition: max-height .25s ease-out;
}

#new-occasion-datepicker.closed {
	max-height: 0px;
}

#new-occasion-datepicker .ui-datepicker {
	border: none;
	box-shadow: none;
}

#new-occasion-datepicker table {
	width: 100%;
}

#new-occasion-datepicker th {
	text-align: inherit;
}

.ui-datepicker * {
	font-family: inherit;
}

body .ui-datepicker td,
body .ui-datepicker td.ui-datepicker-week-end {
	border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    width: calc( 100% / 7 );
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 16px/34px 'Glyphicons Halflings';
    padding-left: 0px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\e079';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\e080';
}

/* Color Scheme */
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: rgb(52, 166, 56);
}

.ui-datepicker td .ui-state-hover {
    background: #2f7432;
}

/**** Consumer Selection ****/

#receipt-consumer {
	padding: 12px 35px 8px;
	color: #fff;
	background: #404040;
	text-align: center;
	cursor: pointer;
}

#receipt-consumer:active {
	background: #505050;
}

#receipt-consumer .header-avatar {
	margin-bottom: 14px;
	height: 50px;
}

#receipt-consumer.changed #receipt-consumer .header-avatar {
	animation: jump-scale-element .2s linear;
}

@keyframes jump-scale-element {
	0%, 100% { transform: scale(1   ); }
	30%      { transform: scale(1.13); }
	60%      { transform: scale(1.20); }
	80%      { transform: scale(1.12); }
}

#receipt-consumer .header-avatar img {
	background: #656565;
}

.header-avatar img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	padding: 4px;
}

#receipt-consumer-name {
	min-height: 36px;
}

.open-settings #receipt-consumer-name {
	padding-top: 1px;
}

.open-settings #receipt-consumer-name span {
	display: none;
}

.open-settings #receipt-consumer-name:before {
	content: '';
	display: block;
	width: 175px;
	height: 1.1em;
	margin: 2px auto 5px;
	background: rgba(255, 255, 255, .5);
	border-radius: 2px;
}

.open-settings #receipt-consumer-name:after {
	content: '';
	display: block;
	width: 70px;
	height: .7em;
	margin: 0px auto;
	background: rgba(255, 255, 255, .3);
	border-radius: 2px;
}

#receipt-consumer-name .consumer-name {
	display: block;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
	/* Single line */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#receipt-consumer-name .consumer-group {
	display: block;
	font-size: .8em;
	opacity: .6;
}

/**** Consumer Panel ****/

#list-consumers {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
	overflow-x: hidden;
	box-shadow: 0px -1px 8px rgba(40, 40, 40, .3);
	transform: translateX(105%);
	transition: transform .3s ease-in; /* out */
}

.open-consumer-panel #list-consumers {
	transform: translateX(0);
	transition: transform .5s cubic-bezier(0,.8,0,1); /* in */
}

.app-consumers {
	width: 100%;
	margin-bottom: 0px;
	z-index: 0;
}

#select-consumers.loading .app-consumers {
	background: #fff url('../img/loader.svg') center center no-repeat;
	background-size: 40px;
}

.app-consumers .flat .sub-list-header {
	display: none;
}

.app-consumers .sub-list-wrapper.flat:first-child .list-group-item:nth-child(2) {
	border-top-width: 0px;
}

.app-consumers .list-group-wrapper .list-group-item:not(.sub-list-header),
.list-group-wrapper.app-consumers .list-group-item:not(.sub-list-header) {
	padding-left: 48px;
}

.app-consumers .list-group-item:nth-child(2) {
	border-width: 1px 0px 0px;
}

.app-consumers.list-group-wrapper .list-group-item:nth-child(2):before {
	content: none;
}

.app-consumers .list-group-item:not(.sub-list-header).selected,
.app-consumers .list-group-item:not(.sub-list-header):active,
.app-products .list-group-item:active,
#single-order.editing header.list-group-item:active,
#all-orders .list-group-item:not(:last-child):active {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.app-consumers .avatar {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
}

.app-consumers .avatar img {
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 50%;
}

.open-consumer-panel:not(.viewing-product) ~ #app-footer {
	display: none;
}

.app-consumers .consumer-setting-show {
	display: none;
}

.open-settings .app-consumers .list-group-wrapper .list-group-item:not(.sub-list-header),
.open-settings .list-group-wrapper.app-consumers .list-group-item:not(.sub-list-header) {
	padding-right: 64px;
}

.open-settings .app-consumers .list-group-wrapper .list-group-item:not(.sub-list-header):not(:nth-child(2)):before,
.open-settings .list-group-wrapper.app-consumers .list-group-item:not(.sub-list-header):not(:nth-child(2)):before {
	width: calc( 100% - 48px - 64px );
}

.open-settings .app-consumers .consumer-setting-show {
	display: block;
}

.list-group-item label[for="consumer-search"] {
	position: absolute;
	top: -1px;
	right: 0px;
	width: 60px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-top: #f1f1f1;
}

.list-group-item label[for="consumer-search"]:after {
	font-family: 'Glyphicons Halflings';
	content: '\e003'; /* glyphicon-search */
	font-style: normal;
	font-weight: 400;
	line-height: 3.8em; /* Inflexible! */
	text-align: center;
	opacity: .8;
}

.searching .list-group-item label[for="consumer-search"]:after {
	content: '\e014'; /* glyphicon-remove */
}

.list-group-item label[for="consumer-search"]:hover:after {
	opacity: 1;
}

input#consumer-search {
	width: calc( 100% - 80px );
	background: #f1f1f1;
	line-height: 1;
	text-align: center;
	border: 0px dashed #555;
	border-bottom-width: 1px;
}

#select-consumers.searching header.list-group-item {
	padding: 16.5px 15px;
}

#select-consumers.searching .list-title,
#select-consumers:not(.searching) input#consumer-search:not(:focus) {
	display: none;
}

/** Products Selection **/

.app-products {
	display: flex;
	flex-wrap: wrap;
}

.app-products:not(.items) {
	overflow-y: hidden;
}

.app-products:not(.items) .list-group-item {
	display: initial !important;
	padding: 20px 15px;
	text-align: center !important;
	font-style: italic;
}

.app-products .list-group-item:not(header) {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0px;
}

.app-products.list-group-wrapper .list-group-item:not(:first-child):before {
	width: calc( 100% - 48px - 60px );
}

.app-products .product-header {
	position: relative;
	flex: 6;
	padding: 20px 50px 20px 15px;
}

.app-products .product-name {
	font-weight: 600;
}

	.app-products li:not(.product) .product-name:before {
		content: '';
		display: block;
		width: 100px;
		height: 1.1em;
		margin-right: 5px;
		background: rgba(64,64,64,.25);
	}

.app-products .product-price {
	opacity: .9;
}

	.app-products li:not(.product) .product-price:before {
		content: '';
		display: block;
		width: 40px;
		height: 1.1em;
		background: rgba(64,64,64,.15);
	}

.app-products .product-amount {
	position: absolute;
	right: 15px;
}

.app-products .product-action {
	width: 60px;
	height: 100%;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.open-settings .app-products .product-amount,
.open-settings .app-products .product-action {
	display: none;
}

.app-products .product-action.action-secondary {
	background: #f0b0b0;
	background: transparent;
	color: #fff;
	color: #d3d3d3;
}

.app-products .product-action.action-secondary:hover {
	background: #f09090;
	background: #f0b0b0;
	color: #fff;
}

.app-products .product-action.action-secondary:active {
	background: #f06060;
	background: #f09090;
	color: #fff;
}

	.app-products li:not(.product) .product-action.action-secondary,
	.app-products li:not(.product) .product-action.action-secondary:hover,
	.app-products li:not(.product) .product-action.action-secondary:active {
		background: rgba(64,64,64,.15);
		color: #fff;
	}

.open-settings .app-products .product-header:after {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	/* .glyphicon .glyphicon-pencil */
	content: '\270f';
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	color: #d3d3d3;
	-webkit-font-smoothing: antialiased;
}

.open-settings .app-products .list-group-item:hover .product-header:after {
	color: inherit;
}

/**** Receipt Products ****/

#receipt-products {
	position: absolute;
	left: 15px;
	width: 100%;
	margin-top: 120px; /* #receipt-consumer */
}

#receipt-button {
	position: absolute;
	top: -20px;
	width: 90px;
	height: 90px;
	background: deepskyblue;
	transform: scale(0.5);
	opacity: 0;
	z-index: 3;
	cursor: pointer;
	border: 4px solid rgba(255, 255, 255, .2);
	border-radius: 50%;
	box-shadow: 0px 0px 8px rgba(40, 40, 40, .3);
	transition: transform .2s cubic-bezier(0, 3, 1, 1), opacity .2s ease-out;
	pointer-events: none;
}

#receipt-button.active {
	pointer-events: initial;
	transform: scale(1);
	opacity: 1;
}

#receipt-button:active {
	transform: scale(.95);
}

#receipt-products.changed #receipt-button {
	animation: jump-scale-element .2s 1;
}

#receipt-button span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.5em;
	color: #fff;
	font-weight: 600;
	opacity: 0;
	white-space: nowrap;
}

#receipt-button.active span {
	opacity: 1;
}

.open-receipt #list-products:before {
	content: '';
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: rgba(40, 40, 40, .8);
	cursor: pointer;
}

#receipt-overview {
	position: absolute;
	top: 95px;
	width: calc(100% - 30px);
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-in;
}

#receipt-overview,
#receipt-overview:before,
.open-receipt #list-products:before,
.viewing-product #list-products:before {
	z-index: 1;
}

#receipt-overview:before {
	content: '';
	position: absolute;
	top: -9px;
	left: 35px;
	display: block;
	width: 20px;
	height: 10px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
}

.open-receipt #receipt-overview {
	pointer-events: initial;
	opacity: 1;
}

#receipt-overview .list-group-wrapper {
	max-height: 35vh;
}

#receipt-overview header.list-group-item {
	display: none;
}

#receipt-overview header.list-group-item ~ .list-group-wrapper .list-group-item:first-child {
	border-top-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#receipt-overview header.list-group-item ~ .list-group-wrapper .list-group-item:last-child {
	border-bottom-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**** Product Details ****/

#product-details .list-group-nested {
	width: 100%;
	background: #fff;
	overflow: hidden;
	border-radius: 4px;
}

.list-group-item > label {
	display: block;
	width: calc( 100% + 30px );
	max-width: initial;
	margin: -20px -15px;
	padding: 20px 15px;
}

.list-group-item > label:after {
	content: '';
	display: block;
	clear: both;
}

.list-group-item input,
.list-group-item .value {
	float: right;
	width: calc( 65% - 48px ); /* Align with list separator line */
	margin: -2px 33px 0px 0px;
	padding: 2px;
	background: transparent;
	border: none;
	border-bottom: 1px dashed #ddd;
	font-weight: normal;
}

.list-group-item .value {
	border: none;
}

/**** Consumer Details ****/

#consumer-details .header-avatar {
	position: relative;
	text-align: center;
	z-index: 2;
}

#consumer-details .header-avatar img {
	background: #fff;
	transform: translateY(15px);
}

/**** Orders ****/

#app-orders {
	position: absolute;
	margin-top: 100vh;
	background: #fff;
	z-index: 3;
	overflow-y: hidden;
	transition: margin-top .3s ease-in;
}

.open-orders #app-orders,
.open-orders ~ #app-orders {
	margin-top: 0px; /* Animation trigger */
}

#all-orders {
	display: flex;
	height: 100%;
	flex-direction: column;
}

#all-orders .list-group-wrapper {
	flex: 1;
	max-height: none;
}

#all-orders.loading .list-group-wrapper {
	background: #fff url('../img/loader.svg') center center no-repeat;
	background-size: 40px;
}

.no-orders #all-orders .list-group-wrapper {
	display: flex;
	align-items: center;
	overflow-y: hidden;
}

.orders .list-group-wrapper .list-group-item:not(.sub-list-header),
.orders .list-group-wrapper ~ .list-group-item:not(.sub-list-header) {
	display: flex;
	text-align: left;
	cursor: pointer;
}

#app-orders #all-orders .list-group-wrapper > footer.list-group-item {
	display: list-item;
	width: 100%;
	background: #fff;
	font-weight: inherit;
	text-align: center;
	border-width: 0px;
	cursor: initial;
}

.no-orders #all-orders .list-group-wrapper footer.list-group-item {
	border: 0px;
}

.orders .list-group-item .order-header {
	flex: 1;
	overflow: hidden;
}

#all-orders .order-consumer {
	display: inline-block;
	max-width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#all-orders .order-size {
	position: absolute;
	margin-left: 5px;
}

/**** Single Order ****/

#single-order header.list-group-item {
	padding: 20px 48px;
}

#consumer-details .product-action,
#single-order:not(.editing) .product-action {
	display: none;
}

#single-order .app-consumers {
	position: absolute;
	left: calc( 100% + 8px );
	margin-top: 0px;
	transform: translateY(-100%);
	box-shadow: 0px -1px 8px rgba(40, 40, 40, .3);
	transition: transform .3s ease-in; /* out */
}

#single-order.editing.consumer-panel .app-consumers {
	left: 100%;
	transform: translateY(-100%) translateX(-100%);
	transition: transform .5s cubic-bezier(0,.8,0,1); /* in */
}

#single-order header.list-group-item .open-consumer-panel,
#single-order header.list-group-item .close-consumer-panel {
	display: none;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

#single-order.editing:not(.consumer-panel) header.list-group-item .open-consumer-panel,
#single-order.editing.consumer-panel header.list-group-item .close-consumer-panel {
	display: block;
}

.list-group-item .order-price {
	font-weight: 600;
}

/**** Settings ****/

.list-group-item.form-checkbox {
	padding: 0px;
}

.list-group-item.form-checkbox label {
	width: 100%;
	padding: 20px 64px 20px 15px;
}

.list-group-item .form-checkbox {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 64px;
}

.form-checkbox input {
	display: none;
}

.form-checkbox label {
	cursor: pointer;
}

.form-checkbox input + label:before,
.form-checkbox input + label:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	transition: all .10s ease-in;
}

.form-checkbox input + label:before {
	width: 34px;
	height: 24px;
	background: rgba(255, 255, 255, .5);
	background: rgba(255, 40, 80, .2);
	border-radius: 12px;
}

.form-checkbox input + label:after {
	width: 20px;
	height: 20px;
	right: 27px;
	background: #fff;
	border-radius: 50%;
}

.form-checkbox input:checked + label:before {
	background: deepskyblue;
}

.form-checkbox input:checked + label:after {
	transform: translateY(-50%) translateX(10px);
}

/**** App Actions ****/

#app-footer {
	display: flex;
	bottom: 0px;
	width: 100%;
	background: #fff;
	z-index: 5;
	transition: bottom .15s ease-in;
}

.viewing-about + #app-footer,
.viewing-occasion + #app-footer,
.viewing-order + #app-footer,
.viewing-product + #app-footer {
	display: none;
}

#action-primary,
#action-secondary {
	flex: 1;
	margin: 0px;
	padding: 20px 0px;
	text-align: center;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#action-primary {
	order: 2;
}

#action-secondary {
	order: 1;
}

.open-receipt ~ #app-footer #action-primary {
	flex: 2;
}

#action-secondary.hidden,
#action-primary.hidden {
	flex: 0px;
}

#app-footer .alert-success:hover,
#app-footer .alert-success:active {
	color: #fff;
	background-color: #57a957;
	border-color: #57a957;
}

#app-footer .alert-danger:hover,
#app-footer .alert-danger:active {
	color: #fff;
	background-color: #c43c35;
	border-color: #c43c35;
}

#app-footer .alert-warning:hover,
#app-footer .alert-warning:active {
	color: #fff;
	background-color: #eedc94;
	border-color: #eedc94;
}

#app-footer .alert-info:hover,
#app-footer .alert-info:active {
	color: #fff;
	background-color: #339bb9;
	border-color: #339bb9;
}

#action-secondary:not(:active):hover,
#action-primary:not(:active):hover {
	opacity: .4;
}

#action-secondary:active,
#action-primary:active {
	opacity: .55;
}

/**** Online Status ****/

#online-status {
	background: #f1f1f1;
	z-index: 9;
}

#online-status .wrap {
	padding: 30px;
	text-align: center;
	transform: translateY(10px);
	transition: transform .3s ease-in;
}

body.offline #online-status .wrap {
	transform: translateY(-30px);
}

body.offline #app-footer {
	display: none;
}

/**** Media Queries ****/

@media screen and (min-width: 600px) {
	#app-body #app-input-form {
		width: calc(100% - 300px);
	}

	#receipt-consumer,
	#list-consumers,
	#receipt-products,
	#app-body #app-orders,
	#app-footer {
		position: absolute;
		top: 0px;
		right: 0px;
		left: auto;
		width: 300px;
	}

	#receipt-form {
		z-index: 2;
		overflow: initial; /* Correct hidden overflow */
	}

	#receipt-consumer {
		left: 100%;
	}

	#list-consumers {
		height: calc(100% - 120px); /* #receipt-consumer */
		margin-top: 120px;
		z-index: 0;
		border-left: 1px solid #ddd;
	}

	#receipt-products,
	#list-consumers {
		left: 100%;
	}

	#list-products header .badge {
		display: none;
	}

	.open-settings #list-products header {
		position: relative;
		cursor: pointer;
	}

	.open-settings #list-products header:after {
		content: '\002b';
		position: absolute;
		top: -1px;
		right: 0px;
		height: 100%;
		width: 60px;
		border-top: 1px solid transparent;
		text-align: center;
		/* .glyphicon .glyphicon-plus */
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 3.8em; /* Inflexible! */
		opacity: .8;
	}

	.open-settings #list-products header:hover:after {
		background: #e0e0e0;
		border-top-color: #e0e0e0;
		opacity: 1;
	}

	.open-settings #list-products header:active:after {
		background: #d2d2d2;
		border-top-color: #d2d2d2;
		opacity: 1;
	}

	#receipt-products {
		height: calc(100% - 120px); /* #receipt-consumer */
	}

	#receipt-button {
		left: -15px;
	}

	#receipt-overview {
		border-left: 1px solid #ddd;
	}

	#receipt-overview,
	#receipt-overview .list-group {
		position: relative;
		top: auto;
		width: auto;
		height: 100%;
		max-height: none;
		display: flex;
		flex-direction: column;
		background: #fff;
	}

	#receipt-overview .list-group-wrapper {
		flex: 1;
		max-height: none;
		margin-bottom: 58px; /* #app-footer */
	}

	#receipt-overview header.list-group-item {
		display: list-item;
	}

	#receipt-overview header.list-group-item ~ .list-group-wrapper .list-group-item:first-child {
		border-top-width: 0px;
		border-radius: 0px;
	}

	#receipt-overview header.list-group-item ~ .list-group-wrapper .list-group-item:last-child {
		border-bottom-width: 0px;
		border-radius: 0px;
	}

	.active + #receipt-overview {
		opacity: 1;
	}

	.open-receipt #list-products:before,
	#receipt-overview:before {
		content: none;
	}

	#occasion-selector,
	#single-order,
	#consumer-details,
	#product-details {
		position: fixed;
		top: 50.8px; /* navbar */
		bottom: 0px;
		z-index: 5;
	}

	#app-body #app-orders {
		height: calc(100% - 120px); /* #receipt-consumer */
		margin-top: 120px;
		z-index: auto;
		border-left: 1px solid #ddd;
	}

	#app-footer {
		position: fixed;
		top: auto;
	}

	#app-body:not([class]) + #app-footer,
	#app-body[class=""] + #app-footer {
		display: none; /* Hide app footer in default state */
	}

	.viewing-order + #app-footer,
	.viewing-product + #app-footer {
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	#app-body #app-input-form {
		width: calc((100% / 3 ) * 2);
	}

	#receipt-consumer,
	#list-consumers,
	#receipt-products {
		width: calc(100% / 2);
	}

	#app-body #app-orders,
	#app-footer {
		width: calc(100% / 3);
	}

	#list-products .app-products .list-group-item {
		float: left;
		width: calc(100% / 2);
		min-height: 120px;
	}

	#list-products .app-products .list-group-item:nth-child(2):before {
		content: none;
	}

	#list-products .app-products .product-header {
		padding-left: 25px;
	}

	#list-products .app-products .product-name {
		font-size: 1.3em;
	}	

	#list-products .app-products .product-price {
		display: block;
		margin-top: 0.5em;
	}	

	#list-products .app-products .product-amount {
		top: 50%;
		transform: translateY(-50%);
	}	
}

@media screen and (min-width: 1200px) {
	#app-body #app-input-form {
		width: calc(100% - 400px);
	}

	#receipt-consumer,
	#list-consumers,
	#receipt-products,
	#app-body #app-orders,
	#app-footer {
		width: 400px;
	}

	#list-products .app-products .list-group-item {
		width: calc(100% / 3);
	}

	#list-products .app-products .list-group-item:nth-child(3):before {
		content: none;
	}
}

@media screen and (min-width: 1500px) {
	#list-products .app-products .list-group-item {
		width: calc(100% / 4);
	}

	#list-products .app-products .list-group-item:nth-child(4):before {
		content: none;
	}
}
